#!/bin/sh
# .xprofile

# Set keyboard layout
setxkbmap -layout us -variant dvp

[ -f $XDG_CONFIG_HOME/Xresources ] && xrdb -merge $XDG_CONFIG_HOME/Xresources
[ -f $XDG_CONFIG_HOME/Xmodmap ] && xmodmap $XDG_CONFIG_HOME/Xmodmap

# Load wallpaper
[ -f $XDG_CONFIG_HOME/wallpaper ] && feh --bg-scale $XDG_CONFIG_HOME/wallpaper

# Source machine specific config
[ -f $HOME/.custom_xprofile ] && . $HOME/.custom_xprofile
