#!/bin/sh
# .xprofile

# .Xresources
if [ -f "$XDG_CONFIG_HOME/Xresources" ]; then
  xrdb -merge "$XDG_CONFIG_HOME/Xresources"
fi

# xmodmap
if [ -f "$XDG_CONFIG_HOME/Xmodmap" ]; then
  xmodmap "$XDG_CONFIG_HOME/Xmodmap"
fi

# Set keyboard layout
setxkbmap -layout us -variant dvp

# Load wallpaper
if [ -f "$XDG_CONFIG_HOME/wallpaper" ]; then
  feh --bg-scale "$XDG_CONFIG_HOME/wallpaper"
fi

# Source machine specific config
[ -f $HOME/.custom_xprofile ] && . $HOME/.custom_xprofile
