#!/bin/sh
# .xprofile

# Update fonts
xset +fp /usr/share/fonts/local
xset fp rehash

# .Xresources
xrdb merge /home/bcforres/.Xresources &

# Set keyboard layout
setxkbmap -layout us -variant dvp

# Load wallpaper
feh --bg-scale "$HOME/Pictures/System_Pics/Wallpaper/current.jpg"

# Source machine specific config
[ -f ~/.custom_profile ] && . ~/.custom_profile
