#!/bin/bash
# Shell aliases

# Aliases

if [[ "$(uname)" == "Darwin" ]]; then
    alias ls='ls -G'
else
    alias ls='ls --color'
fi

alias usbmount='sudo mount -o gid=users,fmask=113,dmask=002'
alias suvim='sudo vim'
alias ..='cd ..'
alias detach='sudo udisks --detach'
alias emacs='emacs -nw'
